* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
  overflow: hidden;
  margin: 0;
}

.background {
  background: url('../images/bg.jpeg')
    no-repeat center center/cover;
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  z-index: -1;
  filter: blur(20px);
}
#lab_social_icon_footer {
  padding: 20px 0;
  /* background-color: #d2cfd4; */
}

#lab_social_icon_footer a {
  color: rgb(108, 107, 172);
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/
#lab_social_icon_footer #social-gh:hover {
  color: #afb1b6;
}

#lab_social_icon_footer #social-ig:hover {
  color: #df4b83;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}

#lab_social_icon_footer #social-in:hover {
  color: #1b25b1;
}

